* {
  font-family: "Poppins";
  font-weight: 300;
}

body {
  background-color: #fbfbff;
  margin: 0;
  height: 100%;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes at least the full viewport height */
}

/*header*/
.header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow at the bottom */
}

.header2 {
  display: none;
}

.menu {
  display: none;
}

.header h1,
.header h2 {
  margin: 0;
}

.header .navigation {
  display: flex;
  gap: 30px;
}

.header .notLogged {
  display: flex;
  align-items: center;
}

.header .notLogged img {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}

.header .notLogged.hidden {
  display: none;
}

.header .logged {
  display: flex;
  align-items: center;
}

.header .logged h2 {
  cursor: pointer;
}

.header .logged img {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}

.header .logged.hidden {
  display: none;
}

/*spects field/bar*/
.container {
  display: flex;
  height: 100vh;
}

.filter-panel {
  width: 300px;
  padding: 20px;
  background: #f4f4f4;
  border-right: 2px solid #ddd;
  position: fixed;
  height: 92%;
  display: flex;
  flex-direction: column;
  margin-top: 88px;
}

.filter-panel .profile {
  width: 100%;
  height: 220px;
  border-bottom: 1px solid rgb(222, 222, 222);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filter-panel .profile h2 {
  margin: 20px 0 0 0;
}

.filter-panel .profile p {
  margin: 0;
}

.filter-panel .profile .picture {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.filter-panel .profile .picture div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: black;
  border: 5px solid rgb(222, 222, 222);
}

.filter-panel .field {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  gap: 10px;
}

.filter-panel .field img {
  width: 20px;
  height: 20px;
}

.filter-panel .field p {
  margin: 0;
}

.filter-panel .favoritesField p {
  color: #ff0000;
}

/*car list*/
.car-list-favorites {
  margin-left: 340px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  margin-top: 88px;
}

.car-list-favorites .loading{
  width: 1050px;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}

.car-list-favorites .loading.display{
  display: flex;
}

.car-list-favorites .loading img{
  animation: spin 1s linear infinite;
  width: 30px;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carPreview {
  width: 279px;
  height: 400px;
  background-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Pushes the last element to the bottom */
  padding-bottom: 10px; /* Optional padding */
}

.carPreview .name {
  font-weight: 600;
}

.carPreview p {
  margin: 0 15px 10px 15px;
}

.carPreview h2 {
  margin: 0 0 10px 15px;
}

.carPreview div:nth-child(1) {
  width: 100%;
  height: 40%;
}

.carPreview div:nth-child(1) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carPreview .yearAndMiles {
  display: flex;
  justify-content: space-between;
}

.carPreview .locationAndHeart {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
}

.carPreview .locationAndHeart p {
  margin: 0;
}

.carPreview .locationAndHeart img {
  width: 20px;
  height: 20px;
}

.carPreview .locationAndHeart .heart {
  margin-left: auto;
}

/*footer*/
.footer {
  width: 100%;
  height: 150px;
  background-color: gray;
}

.footer div {
  width: 100%;
  height: 50%;
  display: flex;
  box-sizing: border-box;
  padding: 20px;
  gap: 30px;
}

.footer div h2 {
  color: white;
  margin: 0;
}

@media (max-width: 450px) {
  .header {
    display: none;
  }

  /*Filter panel*/
  .filter-panel {
    display: none;
  }

  /*Header mobile*/
  .header2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: white;
    box-sizing: border-box;
    padding: 10px;
  }

  /*Menu*/
  .menu {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
  }

  .menu.display {
    display: flex;
  }

  body.no-scroll {
    overflow: hidden;
  }

  .menu .menuFrstChild {
    width: 15%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.53);
  }

  .menu .menuScndChild {
    width: 85%;
    height: 100%;
    background-color: white;
  }

  .menu .menuScndChild .closeBtnContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: right;
  }

  .menu .menuScndChild .userPicture {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  .menu .menuScndChild .userPicture div {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: black;
    border: 5px solid rgb(215, 214, 214);
  }

  .menu .menuScndChild .navigation {
    width: 100%;
    height: auto;
  }

  .menu .menuScndChild .nameAndEmail {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    margin-top: 20px;
  }

  .menu .menuScndChild .nameAndEmail h2 {
    margin: 5px;
    line-height: 1;
  }

  .menu .menuScndChild .nameAndEmail h2:nth-child(2) {
    font-size: 1rem;
    color: gray;
    margin-bottom: 20px;
  }

  .menu .menuScndChild .line {
    width: 100%;
    height: 1px;
    background-color: rgb(229, 227, 227);
    margin-bottom: 20px;
  }

  .menu .menuScndChild .navigation div {
    display: flex;
    align-items: center;
  }

  .menu .menuScndChild .navigation div img {
    width: 30px;
    height: 30px;
    margin: 0 10px 0 20px;
  }

  .menu .menuScndChild .navigation div h2 {
    margin: 5px 0 5px 0;
  }

  .menu .menuScndChild .navigation div:nth-child(1) h2 {
    color: #ff0000;
  }

  .menu .menuScndChild .navigation .signUpContainer.hidden {
    display: none;
  }

  .menu .menuScndChild .navigation .logInContainer.hidden {
    display: none;
  }

  .menu .menuScndChild .navigation .logOutContainer.hidden {
    display: none;
  }

  /*Car container*/
  .container {
    display: flex;
    height: auto;
    min-height: 75vh;
  }

  .car-list-favorites {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
  }

  .car-list-favorites .loading{
    width: 100%;
    height: 80vh;
  }

  .car-list-favorites .loading img{
    width: 40px;
  }

  .car-card-mobile {
    display: flex;
    width: 100%;
    height: 135px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    overflow: hidden;
  }

  .car-card-mobile div:nth-child(1) {
    width: 40%;
    height: 100%;
  }

  .car-card-mobile div:nth-child(1) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .car-card-mobile div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .car-card-mobile div:nth-child(2) p {
    margin: 0 0 0 20px;
    font-size: 0.7rem;
  }

  .car-card-mobile div:nth-child(2) .model {
    font-weight: 500;
    font-size: 1.2rem;
  }

  .car-card-mobile .locationAndHeart {
    padding: 0;
    margin: 5px 0 5px 0;
  }

  .car-card-mobile .locationAndHeart img {
    width: 15px;
    height: 15px;
    margin-left: 20px;
  }

  .car-card-mobile .locationAndHeart .heart {
    width: 20px;
    height: 20px;
    margin-left: auto;
  }

  .car-card-mobile div:nth-child(2) .city {
    margin: 0;
  }

  .car-card-mobile div:nth-child(2) .price {
    font-weight: 400;
    font-size: 1rem;
  }

  .car-card-mobile div:nth-child(2) div {
    display: flex;
    justify-content: space-between;
    width: 200px;
  }
}
