* {
  font-family: "Poppins";
  font-weight: 300;
}

body {
  background-color: #fbfbff;
  margin: 0;
}

.footer {
  width: 100%;
  height: 150px;
  background-color: gray;
}

/*header*/
.header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow at the bottom */
}

.header2 {
  display: none;
}

.menu {
  display: none;
}

/*tag*/
.tag{
  width: auto;
  height: auto;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 3000;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 10px;
}

.tag p{
  margin: 0;
  font-family: sans-serif;
  font-size: 0.9rem;
  color: white;

}

.tag div{
  width: fit-content;
  height: auto;
  background-color: rgb(208, 241, 19);
  box-sizing: border-box;
  padding: 5px;
  margin-top: 5px;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: backgroun-color 1s ease-in-out;
  justify-self: end;
}

.tag div:hover{
  background-color: rgb(217, 233, 126);
}

.tag div p{
  color: black;
  font-family: sans-serif;
  margin: 0;
}

.header h1,
.header h2 {
  margin: 0;
}

.header .navigation {
  display: flex;
  gap: 30px;
}

.header .notLogged {
  display: flex;
  align-items: center;
}

.header .notLogged img {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}

.header .notLogged.hidden {
  display: none;
}

.header .logged {
  display: flex;
  align-items: center;
}

.header .logged h2 {
  cursor: pointer;
}

.header .logged img {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}

.header .logged.hidden {
  display: none;
}

/*Image/div below header*/
.belowHeader {
  width: 100%;
  height: 300px;
  background-color: rgba(255, 0, 0, 0.639);
  margin-top: 88px;
}

/*log in*/
.login {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  transform: translateY(-200px);
}

.loginBlock {
  width: 40%;
  height: 550px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.loginBlock h1 {
  margin: 0;
}

.loginBlock input {
  width: 80%;
  height: 30px;
  margin-bottom: 30px;
  border-radius: 0.5rem;
  border: 1px solid black;
}

.loginBlock .paragraphWrapper {
  width: 80%;
  height: auto;
}

.loginBlock .loginBtn {
  width: 20%;
  height: 40px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

.loginBlock .loginBtn h4 {
  color: white;
  margin: 0;
}

.loginBlock .haveAnAcc {
  margin: 10px 0 0 0;
}

.loginBlock .haveAnAcc span {
  margin: 10px 0 0 0;
  color: red;
  cursor: pointer;
}

/*footer*/
.footer {
  width: 100%;
  height: 150px;
  background-color: gray;
}

.footer div {
  width: 100%;
  height: 50%;
  display: flex;
  box-sizing: border-box;
  padding: 20px;
  gap: 30px;
}

.footer div h2 {
  color: white;
  margin: 0;
}

@media (max-width: 450px) {
  .header {
    display: none;
  }

  /*Header mobile*/
  .header2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: white;
    box-sizing: border-box;
    padding: 10px;
  }

  /*Menu*/
  .menu {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
  }

  .menu.display {
    display: flex;
  }

  body.no-scroll {
    overflow: hidden;
  }

  .menu .menuFrstChild {
    width: 15%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.53);
  }

  .menu .menuScndChild {
    width: 85%;
    height: 100%;
    background-color: white;
  }

  .menu .menuScndChild .closeBtnContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: right;
  }

  .menu .menuScndChild .userPicture {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  .menu .menuScndChild .userPicture div {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: black;
    border: 5px solid rgb(215, 214, 214);
  }

  .menu .menuScndChild .navigation {
    width: 100%;
    height: auto;
  }

  .menu .menuScndChild .nameAndEmail {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    margin-top: 20px;
  }

  .menu .menuScndChild .nameAndEmail h2 {
    margin: 5px;
    line-height: 1;
  }

  .menu .menuScndChild .nameAndEmail h2:nth-child(2) {
    font-size: 1rem;
    color: gray;
    margin-bottom: 20px;
  }

  .menu .menuScndChild .line {
    width: 100%;
    height: 1px;
    background-color: rgb(229, 227, 227);
    margin-bottom: 20px;
  }

  .menu .menuScndChild .navigation div {
    display: flex;
    align-items: center;
  }

  .menu .menuScndChild .navigation div img {
    width: 30px;
    height: 30px;
    margin: 0 10px 0 20px;
  }

  .menu .menuScndChild .navigation div h2 {
    margin: 5px 0 5px 0;
  }

  .menu .menuScndChild .navigation div:nth-child(1) h2 {
    color: #ff0000;
  }

  .menu .menuScndChild .navigation .signUpContainer.hidden {
    display: none;
  }

  .menu .menuScndChild .navigation .logInContainer.hidden {
    display: none;
  }

  .menu .menuScndChild .navigation .logOutContainer.hidden {
    display: none;
  }


  /*tag*/
.tag{
  width: auto;
  height: auto;
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 3000;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 10px;
}

.tag p{
  margin: 0;
  font-family: sans-serif;
  font-size: 0.7rem;
  color: white;
}

  /*Image/div below header*/
  .belowHeader {
    height: 200px;
    margin-top: 0;
  }

  /*log in*/
  .login {
    transform: translateY(-50px);
    margin-bottom: 150px;
  }

  .loginBlock {
    width: 90%;
    height: 350px;
  }

  .loginBlock .loginBtn {
    width: 82%;
  }
}
